body {
  font-family: Helvetica, Arial, sans-serif;
  background: url("/images/board.png") repeat;
  background-size: cover; }

.gameboard {
  width: 500px;
  margin: 0 auto;
  text-align: center; }

.gamerow {
  clear: both; }

.cell {
  color: blue;
  background-color: white;
  opacity: 0.8;
  width: 58.82353px;
  height: 58.82353px;
  margin: 4.90196px;
  padding: 45.24887px;
  float: left; }
  .cell:hover {
    color: black; }

#a1:hover {
  background-color: #0000FF; }

#a2:hover {
  background-color: #64fe2e; }

#a3:hover {
  background-color: #0000FF; }

#b1:hover {
  background-color: #64fe2e; }

#b2:hover {
  background-color: #0000FF; }

#b3:hover {
  background-color: #64fe2e; }

#c1:hover {
  background-color: #0000FF; }

#c2:hover {
  background-color: #64fe2e; }

#c3:hover {
  background-color: #0000FF; }

.cross {
  background: url("/images/x2.png") no-repeat;
  background-size: cover; }

.circle {
  background: url("/images/circulo3.png") no-repeat;
  background-size: cover; }

.base-font, .message {
  color: white;
  font: 20px Helvetica, Arial, sans-serif; }

.message {
  display: inline;
  background-color: transparent; }

.enlaces {
  text-align: left;
  margin-left: 60px; }

a {
  color: white; }

a:hover {
  color: black; }

.header {
  text-align: right;
  margin-right: 60px; }
